<!DOCTYPE html>
<html lang="fa">

<head>
    <title>دانشگاه اراک | @ViewData["Title"]</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script defer src="assets/js/all.js"></script>
    <link rel="stylesheet" href="~/assets/css/theme-1.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/persian-datepicker.min.css">
    <link rel="stylesheet" href="~/assets/css/rwd-table.min.css"/>
    <link href="~/assets/css/sweet-alert.min.css" rel="stylesheet">
    <link href="~/assets/css/waves-effect.css" rel="stylesheet">


</head>

<body>



@*<link href="~\assets\plugins\bootstrap\js\bootstrap.min.js" rel="stylesheet">
        <script src="D:\universityprojectmuhammad\last2\last2\testapplication\testapplication\wwwroot\lib\jquery\dist\jquery.min.js"></script>
        <script src="D:\universityprojectmuhammad\last2\last2\testapplication\testapplication\wwwroot\lib\jquery\dist\jquery.min.js"></script>

        <script src="bootstable.js"></script>*@

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a>
        <img src="~/Images/araku_logo.png" style="height: 60px" alt="logo" class="rounded-lg"/>
    </a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div id="user_information" style="display: none" class="nav-item dropdown">
            <a id="user_name_info" class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown">

            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="@Url.Action("Register", "Home")">ویرایش اطلاعات</a>
                <a class="dropdown-item" href="@Url.Action("Login", "Home")">خروج</a>
            </div>
        </div>

    </div>
</nav>

<div class="container">
    @RenderBody()
</div>


<div id="MainModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" id="ModalContent">
        </div>
    </div>
</div>


<!-- Javascript -->
@*<script src="~/assets/plugins/jquery-3.4.1.min.js"></script>
        <script src="~/assets/plugins/popper.min.js"></script>
        <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/assets/fontawesome/js/persian-date.min.js"></script>
        <script src="~/assets/fontawesome/js/persian-datepicker.min.js"></script>*@
<script src="~/assets/plugins/jquery-3.4.1.min.js"></script>
<script src="~/assets/plugins/popper.min.js"></script>
<script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/persian-date.min.js"></script>
<script src="~/assets/js/persian-datepicker.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script src="~/assets/js/site.js"></script>


<script>

    $(document).ready(function() {
        var cookie = document.cookie;
        //   alert(!cookie);
        if (cookie) {
            $("#user_information").show();
            $("#user_name_info").text($('#info_label').text());
            
        }

    });
    $('.persianDataInput').persianDatepicker({
        format: 'YYYY/MM/DD',
        autoClose: true,
        initialValue: false,
        observer: true
    });


    $(document).on('keydown',
        '.numeric',
        function(e) {
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                (e.keyCode == 65 && e.ctrlKey === true) ||
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                return;
            }
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

    $(document).on('keydown',
        '.farsi_no_number',
        function(e) {
            console.log(e.key);
            if (e.key == 'Alt' || e.key == 'Shift' || e.key == 'Tab' || e.key == 'Backspace')
                return;
            if (!e.key.match(/^[ ا آ ئ ب پ ت ث ج چ ح خ د ذ ر ز ژ س ش ص ض ط ظ ع غ ف ق ک گ ل م ن و ه ی]+$/)) {
                e.preventDefault();
            }
        });

    $(document).on('keydown',
        '.farsi',
        function(e) {
            console.log(e.key);
            if (e.key == 'Alt' || e.key == 'Shift' || e.key == 'Tab' || e.key == 'Backspace')
                return;
            if (!e.key.match(/^[0-9 ا آ ئ ب پ ت ث ج چ ح خ د ذ ر ز ژ س ش ص ض ط ظ ع غ ف ق ک گ ل م ن و ه ی]+$/)) {
                e.preventDefault();
            }
        });

    $(document).on('keydown',
        '.engelish',
        function(e) {
            console.log(e.key);
            if (e.key == 'Alt' || e.key == 'Shift' || e.key == 'Tab')
                return;
            if (!e.key.match(/^[0-9 a-z A-Z]+$/)) {
                e.preventDefault();
            }
        });
</script>
<script>
    window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500,
                function() {
                    $(this).remove();
                });
        },
        2000);
</script>

<script>
    $(document).ready(function() {
        $("#Province").change(function() {
            var id = $(this).val();
            $("#CityItem").empty();
            $.get("City_Bind",
                { state_id: id },
                function(data) {
                    var v = "<option>شهر را انتخاب کنید</option>";
                    $.each(data,
                        function(i, v1) {
                            v += "<option value=" + v1.value + ">" + v1.text + "</option>";
                        });
                    $("#CityItem").html(v);
                    alert("hi2");

                });
        });
    });
</script>
<script>
    $(document).ready(function () {

        $("#CityItem").change(function () {
            document.getElementById("hiddencity").value= $(this).val();;
        });
    });
</script>

<script>
    function setOption(selectElement, value) {

        var options = selectElement.getElementsByTagName('option');

        for (var i = 0, optionsLength = options.length; i < optionsLength; i++) {
            console.log(options[i].value);
            if (options[i].value == value) {
                selectElement.selectedIndex = i;
                return true;
            }
        }
    
        return false;

    }
    $(document).ready(function() {
        var id = document.getElementById("Province").value;
        var cityid = document.getElementById("hiddencity").value;
        if (id > 0) {
            $.get("City_Bind",
                { state_id: id },
                function(data) {
                    var v = "<option>شهر را انتخاب کنید</option>";
                    $.each(data,
                        function(i, v1) {
                            v += "<option value=" + v1.value + ">" + v1.text + "</option>";
                        });
                    $("#CityItem").html(v);
                    setOption(document.getElementById("CityItem"), cityid);
                });
        }
    });
</script>

<script>
    $(".TitleType").click(function(e) {
        e.preventDefault();
        var _url = '@Url.Action("SelectTable", "Home")';

        $.ajax({
            type: "POST",
            url: _url,
            data: { uid: $(this).prop("id") },


            //data: {
            //    id: $(this).id,
            //    access_token: $("#rel").val()
            //},
            success: function(result) {
                //   window.location.reload(true);
                // $("#div1").load("#div1 > *");
                $("#div1").html(result);
            },
            error: function(result) {
                alert('error');
            }
        });
    });

</script>


<script src="~/assets/js/rwd-table.min.js"></script>
<script src="~/assets/js/sweet-alert.min.js"></script>
<script src="~/assets/js/sweet-alert.init.js"></script>
<script src="~/assets/js/waves.js"></script>

@*<script>

            $("#rel1").click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "/Home/Managment/",
                    data: {
                        id: $(this).id // < note use of 'this' here
                    },
                    success: function (result) {
                        alert('ok');
                    },
                    error: function (result) {
                        alert('error');
                    }
                });
            });
        </script>*@

</body>

</html>