@model List<ItemTable>

<div id="table" class="table-editable">

    <table class="table table-bordered table-sm table-striped text-center" id="myTable">
        <thead>
        <tr>
            <th>
                ردیف
            </th>
            <th>
                عنوان
            </th>
            <th>
                عملیات
            </th>
        </tr>
        </thead>
        <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>

                    @(Model.IndexOf(item) + 1)

                </td>
                <td onblur="blurRow(this)" onfocus="focusRow(this)">

                    @item.Title

                </td>

                <td>

                    @* <button type="button" class="btn btn-warning btn-sm my-0" onclick="editRow(this)">
            ویرایش
        </button>
                    *@
                    <a href="#showmodal=@Url.Action("EditItem","Home",new{id = item.Id})" class="btn btn-warning">
                        ویرایش
                    </a>
                    <a  class="btn btn-danger">
                        حذف                    <span class="badge">@item.UseCount</span>

                    </a>
                </td>

            </tr>
        }

        </tbody>

    </table>
    <span class="table-add float-right mb-3 mr-2">
        <a href="#showmodal=@Url.Action("CreateItem")" class="btn btn-dark">
            <i class="fas fa-plus" aria-hidden="true"> &nbsp; افزودن یک سطر جدید </i>
        </a>
    </span>
</div>
<p id="demo"></p>
<p id="demo1"></p>
<p id="demo2"></p>

@if (!string.IsNullOrWhiteSpace(ViewBag.Duplicates))
{
    <div class="alert-danger p-3 m-3">
        <p>@ViewBag.Duplicates</p>
    </div>
}

@*<script>
        function editRow(r) {

            var j = r.parentNode.parentNode.rowIndex;
            var table = document.getElementById("myTable");
            table.editRow(j);


            for (var i = j; i < table.rows.length; i++) {
                var x = table.rows[i].cells;
                x[0].innerHTML = i;

            }
        }
    </script>*@


<script>

    //var old_title = "";
    var title = [];
    var edited_title = [];
    //let cell;
    var table = document.getElementById("myTable");
    //var cell_value = "";

    $(document).ready(function() {

        for (var i = 1; i < table.rows.length; i++) {
            title.push(table.rows[i].cells[1].innerHTML.toString());
                document.getElementById("demo").innerHTML = "title:" + title;

        }
        // alert(title);

    });

    function addRow() {
        var table = document.getElementById("myTable");
        var row = table.insertRow();
        var cell0 = row.insertCell(0);
        var cell1 = row.insertCell(1);
        var cell2 = row.insertCell(2);
        var i = row.rowIndex;
        cell0.innerHTML = i;
        cell1.contentEditable = 'true';
    }

    function editRow(r) {
        // var table = document.getElementById("myTable");
     //   document.getElementById("demo").innerHTML = "";

        for (var i = 1; i < table.rows.length; i++) {
            table.rows[i].cells[1].contentEditable = 'false';
        }
        var j = r.parentNode.parentNode.rowIndex;

        // table.editRow(j);

        var cell = table.rows[j].cells[1];
        cell.contentEditable = 'true';

        cell.focus();

        //for (var i = j; i < table.rows.length; i++) {
        //    var x = table.rows[i].cells;
        //    x[0].innerHTML = i;

        //}
    }

    function focusRow(p) {

        //   var table = document.getElementById("myTable");
        var number_cell = p.parentNode.cells[0];
        var title_cell = p.parentNode.cells[1];

        //  number_cell.style.backgroundColor = "rgba(100, 255, 0, 0.3)";
        title_cell.style.backgroundColor = "rgba(100, 255, 0, 0.1)";

        //cell1 = p.cells[1];
        //alert(cell1);
        //old_title = title_cell.innerHTML;
        //cell_value=old

    }

    function blurRow(p) {

        // var oldval = cell.innerHTML;
        // if(cell.focus())


        // table.editRow(j);

        //cell = table.rows[j].cells[1];
        var number_cell = p.parentNode.cells[0];
        var title_cell = p.parentNode.cells[1];
        var new_title = title_cell.innerHTML.toString();
        //alert(title_cell);
        // alert(new_title  + old_title);
      //  alert(new_title);
     //   document.getElementById("demo1").innerHTML = "newtitle:" + new_title;

        if (!title.includes(new_title)) {
    //        document.getElementById("demo2").innerHTML = "dont inclodes";
            
     //       document.getElementById("demo").innerHTML = "if title:" + title;

            //alert(new_title  + old_title);
            edited_title.push(new_title);
            // alert(editRow + "///" + title);
            title_cell.style.backgroundColor = "rgba(255, 200, 0, 0.1)";
            number_cell.style.backgroundColor = "rgba(255, 200, 0, 0.1)";

        } else {
       //     document.getElementById("demo2").innerHTML = "includes";
        //    document.getElementById("demo").innerHTML = "else title:" + title;

            title_cell.style.backgroundColor = "transparent";
            number_cell.style.backgroundColor = "transparent";
        }


    }

    function getall() {
        for (var i = 1; i < table.rows.length; i++) {
            title.push(table.rows[i].cells[1].innerHTML);
            alert("i is :" + i);
    }


    $("#saveRows").click(function(e) {
        var new_title = [];
        getall();
        //    var table = document.getElementById("myTable");
        var allrow = table.rows;

       /* for (var i = 1; i < allrow.length; i++) {
            document.getElementById("demo2").innerHTML = "new_title" +"\n";

          //  if (!allrow[i].cells[2].hasChildNodes()) {
                new_title.push(allrow[i].cells[1].innerHTML);
          //  }
        }
        */
     /*   for (var i = 1; i < table.rows.length; i++) {
            title.push(table.rows[i].cells[1].innerHTML);
                 document.getElementById("demo").innerHTML = "title:" + title;

        }*/
        var _url = '@Url.Action("saveRows", "Home")';

        var res;

        $.ajax({
            'async': false,
            type: "POST",
            url: _url,
            data:JSON.stringify({
                'new_title_array': title
            }),

            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(result) {
                //   window.location.reload(true);
                // $("#div1").load("#div1 > *");
                //  alert(result);

                res = result;
                
            },


            error: function (result) {
                //  res = result;
                // alert(result);
                // alert(result);


            }


        });

        //alert(res);
        var _url = '@Url.Action("SelectTable")';
        $.ajax({
            'async': false,
            type: "POST",
            url: _url,
            data: { uid: res },
            success: function(result) {
                $("#div1").html(result);
                alert(res);
            },
            error: function(result) {
                alert('error');
            
            }
        });


    });

</script>


@*<script>

        $('#mytable').SetEditable();


        $('#but_add').click(function() {
            rowAddNew('mytable');
        });

        //function editFunc() {

        //    document.getElementsByTagName("div").contentEditable = 'true';
        //    document.getElementsByTagName("div").style.borderColor = "red";

        //}
        //$("#edit").onclick(function (parameters) {

        //    alert("cdsk");
        //    //$("div").contentEditable();
        //    //$("div").style.border.color("#112233");

        //})
    </script>*@
