@model List<testapplication.Models.Tables_Model.RelativeItem>

<div id="table" class="table-editable">
    <form class="contact-form row mx-lg-auto ">
        <div class="form-group col-5 mx-1">
            <a href="@Url.Action("CreateItem", "Home")" class="btn btn-dark">
                افزودن یک سطر جدید
            </a>
        </div>
    </form>
    <table class="table table-bordered table-sm table-striped text-center table-hover" id="myTable">
        <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                نبست خانوادگی
            </th>
            <th>
                عملیات
            </th>
        </tr>
        </thead>
        <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>

                    @(Model.IndexOf(item) + 1)

                </td>
                <td onblur="blurRow(this)" onfocus="focusRow(this)">

                    @item.Title

                </td>

                <td>

                    @* <button type="button" class="btn btn-warning btn-sm my-0" onclick="editRow(this)">
                            ویرایش
                        </button>
                        *@
                    <a href="@Url.Action("EditItem", "Home", new {id = item.Id})" class="btn btn-warning">
                        ویرایش
                    </a>
                    <a href="@Url.Action("DeleteItem", "Home", new {id = item.Id})" class="btn btn-danger">
                        حذف <span class="badge bg-white text-dark">@item.UseCount</span>

                    </a>
                </td>

            </tr>
        }

        </tbody>

    </table>

</div>