@model UserType

@{
    ViewData["Title"] = "صفحه مدیریت";
}



@if (!string.IsNullOrWhiteSpace(ViewBag.deletefromfamily))
{
    <div class="alert alert-success" role="alert">
        <p>@ViewBag.Duplicates</p>
    </div>
}
<div class="container">
    <div class="card mb-2">
        <h5 class="card-header">اطلاعات ادمین</h5>
        <div class="card-body text-center row">


            <div class="form-group col-md-4">
                <label class="control-label font-weight-bold">نام و نام خانوادگی:</label>
                <label class="control-label"></label>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label font-weight-bold">کدملی:</label>
                <label class="control-label"></label>
            </div>

            <div class="form-group col-md-2">
                <form>
                    <button class="btn btn-warning btn-block">ویرایش کاربر</button>
                </form>
            </div>
            <div class="form-group col-md-3">
                <form>
                    <button class="btn btn-warning btn-block">
                        <span class="glyphicon glyphicon-lock"></span>تغییر کلمه عبور
                    </button>
                </form>
            </div>

        </div>

    </div>


    <div class="row">


        <div class="col-9" id="div1">

            @*@await Component.InvokeAsync("Tablestwo")*@

        </div>

        <div class="col-3">
            <ul class="nav flex-column" id="titleId">
                <li class="nav-item">
                    <button value="rel" id="FamilyType" class="TitleType">rel</button>

                </li>
                <li class="nav-item">
                    <button id="DegreeEducation" class="selected TitleType">degree</button>

                </li>
                @*<li class="nav-item">
                    <a class="nav-link btn" href="#" id="degree">Link</a>
                </li>*@

            </ul>
        </div>
    </div>
</div>

<button type="button" id="saveRows" onclick="saaaveRow()">save</button>

<pre id="whereToPrint"></pre>

@*<script>
    $("#saveRows").click(function(e) {

        var _url = '@Url.Action("saveRows")';
        $.ajax({
            type: "POST",
            url: _url,
            data: { titleId: $("#titleId").find('a').attr('id')},



            success: function (result) {
                //   window.location.reload(true);
                // $("#div1").load("#div1 > *");
                // $("#div1").html(result);
                alert(result);
            },
            error: function(result) {
                alert('error');
            }
        });
    });
</script>*@


<script>


    $(".TitleType").click(function(e) {
        e.preventDefault();
        var _url = '@Url.Action("aaaaVC")';

        $.ajax({
            type: "POST",
            url: _url,
            data: { uid: $(this).prop("id") },


            //data: {
            //    id: $(this).id,
            //    access_token: $("#rel").val()
            //},
            success: function(result) {
                //   window.location.reload(true);
                // $("#div1").load("#div1 > *");
                $("#div1").html(result);
            },
            error: function(result) {
                alert('error');
            }
        });
    });
</script>










<script>
    $("#saveRows").click(function(e) {
        var customers = [];

        var table = document.getElementById("myTable");
        var allrow = table.rows;

        for (var i = 0; i < allrow.length; i++) {
            if (!allrow[i].cells[2].hasChildNodes()) {

                customers.push(allrow[i].cells[1].innerHTML);
            }
        }

        var _url = '@Url.Action("saveRows", "Home")';

        var res;

        $.ajax({
            'async': false,
            type: "POST",
            url: _url,
            data: JSON.stringify(customers),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(result) {
                //   window.location.reload(true);
                // $("#div1").load("#div1 > *");
              //  alert(result);

                res = result;
                
            },


            error: function (result) {
              //  res = result;
               // alert(result);
               // alert(result);


            }


        });

        //alert(res);
        var _url = '@Url.Action("aaaaVC")';
        $.ajax({
            'async': false,
            type: "POST",
            url: _url,
            data: { uid: res },
            success: function(result) {
                $("#div1").html(result);
                alert(res);
            },
            error: function(result) {
                alert('error');
            
            }
        });


    });
</script>

<!--<script>
    //var _url =

    $.ajax({
        url: "/Home/saveRows",
        type: "GET",
        dataType: "json",
        
        //success: function (res) {
        //    alert(res);
        //},
        //error: function (res) {
        //    alert("ackna");
        //}

    });-->

@*var url = '@Url.Action("saveRows")';
    $.get(url,
        function (data) {
            alert("ggggg");
            var _url = '@Url.Action("aaaaVC")';

            $.ajax({
                type: "POST",
                url: _url,
                data: { uid: data },


                //data: {
                //    id: $(this).id,
                //    access_token: $("#rel").val()
                //},
                success: function(result) {
                    //   window.location.reload(true);
                    // $("#div1").load("#div1 > *");
                    $("#div1").html(result);
                },
                error: function(result) {
                    alert('error');
                }
            });
        });*@
<!--</script>-->